<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamiliarAPP</title>
</head>
<body>
        {% for f in funcion %}
            <div class="card">
                <h2> El familiar {{f.nombre}} {{f.apellido}}, ha nacido el {{f.nacimiento}}, y tiene {{f.edad}} años.  Contactar al mail: {{f.email}}.  </h2>
            </div>
        {% endfor %}


</body>
</html>